---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center text-xl font-semibold tracking-[0.01em] text-slate-950 whitespace-nowrap dark:text-white md:text-lg"
>
  {SITE?.name}
</span>
